
/*setear nuestros archivos*/
body {
    box-sizing: border-box;
    color: #303030;
    margin: 0px;
    padding: 0px;
    font-family: 'Raleway', sans-serif;
}
  
  /*clases reutilizables*/
.text-uppercase {
    text-transform: uppercase;
}
div {
    display: inline-block;
    width: 33%;
    padding:2px;
    box-sizing:border-box;
}

  /* clases especificas*/

ul li {
    display: inline;
    list-style: none;/*quita las viñetas*/
    margin: 5px;
}
  
li a {
    color: inherit;/*color hereda de su ancestro */
    text-decoration: none;
}
.logo-header {
    width: 200px;
}
  
header {
    position: relative;
}
nav {
    position: absolute;
    right: 5%;
    top: 50%;
    transform: translateY(-50%);
}
.box-header {
    display: inline-block;
}
  
img[alt="laboratoria"] {
    width: 150px;
}
section {
    text-align: center;
}
  

  
span {
    font-size: 70px;
}
body section:last-child {
    margin: 30px 50px 0 60px;
}
button{
    background-color: #f9a91a;
    padding: 10px;
    border: 0px;
    margin-bottom: 20px;
    border-radius: 5px;
    font-weight: 600px;
}
  
.box-header ul li {
    margin: 0 15px;
}
  
span:hover {
    color: #f9a91a;
}
  
.box-header ul li:hover {
    color: #f9a91a;
}
 
footer{
    text-align:center;
    padding:5px;
    color:#ffffff;
    background-color: #303030;
}

